In [5]:
import pandas as pd
data =pd.read_csv('EnWords.csv')
for i in range(72584 ,len(data)):
    temp =data[i:i+1]['word'].to_string(index = False).lstrip()
    with open('./EnglishDictionary/'+temp+'.json', 'w', encoding='utf-8') as file:
        data[i:i+1].to_json(file, force_ascii=False)

In [2]:
data.head()

     word                                        translation
0       a  n.(A)As 或 A's  安(ampere);(a) art.一;n.字母A /[军] ...
1    aaal     American Academy of Arts and Letters 美国艺术和文学学会
2  aachen                                   亚琛[德意志联邦共和国西部城市]
3    aacs  Airways and Air Communications Service (美国)航路与...
4     aah   [军]Armored Artillery Howitzer,装甲榴弹炮;[军]Advanc...

In [4]:
data.loc[data['word'] =='prn']

      word       translation
72583  prn  n.<拉>pro re nata